

		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				
				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo"><a href="{{ path('home') }}">Royal Hotel</div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active"><a href="{{ path('home') }}">Home</a></li>
							<li><a href="{{ path('about') }}">About</a></li>
							<li class="has-dropdown">
								<a href="">Services</a>
								<ul class="dropdown">
									<li><a href="{{ path ('chambres', {id: 1} )}}">Chambres</a></li>
									<li><a href="{{ path ('suites', {id: 2} )}}">Suite</a></li>
									<li><a href="{{ path ('reservation') }}">Reservation</a></li>
									<li><a href="{{ path ('admin') }}">admin</a></li>
									<li><a href="{{ path ('app_login') }}">se connecter </a></li>
									<li><a href="{{ path ('app_logout') }}">se deconnecter</a></li>
									
								</ul>
							</li>
							
							
							<li><a href="{{ path('reservation') }}">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</nav>